Survey Participation finder
This is a trial file and the corresponding data CSV files are present in the same folder

In [13]:
import pandas as pd
survey_list = pd.read_csv('data_sheet.csv',header=None,names=['empnames'])
full_emp_list = pd.read_csv('emp_list.csv',header=None,names=['empnames'])

In [128]:
survey_list = survey_list.applymap(lambda x: x.lower())
survey_list = survey_list.drop_duplicates()
survey_list

            empnames
0        nitesh kala
1      amith kashyap
2         sachin raj
3        rajat goyal
4       shreelakshmi
..               ...
77  nikita kakaraddi
78      dhiraj kumar
79   naveen chichili
80          rajesh s
81    danvitha gowda

[80 rows x 1 columns]

In [37]:
full_emp_list = full_emp_list.applymap(lambda y : y.lower())

In [41]:
full_emp_list = full_emp_list.drop_duplicates()
full_emp_list

               empnames
0           shirin wadi
1         amith kashyap
2            bijay rana
3    santosh manjunatha
4          aditi thakur
..                  ...
77       ishita shankar
78          sonesh nema
79   ramya dhanasekaran
80         supriya shah
81  sukruth purushotham

[82 rows x 1 columns]

In [57]:
tooksurveylist = full_emp_list.assign(tookSurvey=full_emp_list['empnames'].isin(survey_list['empnames']))
tooksurveylist[tooksurveylist['tookSurvey'] == True].count()

empnames      42
tookSurvey    42
dtype: int64

In [102]:
count = 0
for emp_name in full_emp_list['empnames']:
    print(f"Checking for {emp_name}\n")
    if (survey_list['empnames'].str.contains(emp_name)).any():
        print(f"{emp_name} took the survey")
    else:
        print(f"{emp_name} did not take the survey")
        count += 1
print(f"Total No who did not take the survey: {count}")

Checking for shirin wadi

shirin wadi did not take the survey
Checking for amith kashyap

amith kashyap took the survey
Checking for bijay rana

bijay rana did not take the survey
Checking for santosh manjunatha

santosh manjunatha did not take the survey
Checking for aditi thakur

aditi thakur did not take the survey
Checking for kali viswanath puvvada

kali viswanath puvvada did not take the survey
Checking for amrutha reddy

amrutha reddy did not take the survey
Checking for nagaraj jayagondra

nagaraj jayagondra took the survey
Checking for sumithra venkatappa

sumithra venkatappa took the survey
Checking for rohit shet

rohit shet did not take the survey
Checking for monisha deranda seetharam

monisha deranda seetharam did not take the survey
Checking for rangadurai dhakshinamoorthy

rangadurai dhakshinamoorthy did not take the survey
Checking for sathyan mahalingam

sathyan mahalingam took the survey
Checking for kiran musale

kiran musale took the survey
Checking for praveen philip

praveen philip did not take the survey
Checking for rashmi puttaswamachary

rashmi puttaswamachary took the survey
Checking for usha nalla

usha nalla did not take the survey
Checking for soumyajit sarkar

soumyajit sarkar took the survey
Checking for jagadeesh kumar koneti

jagadeesh kumar koneti did not take the survey
Checking for bhimanagouda shiramagond

bhimanagouda shiramagond took the survey
Checking for balagopalan syamal

balagopalan syamal took the survey
Checking for mausham kakati

mausham kakati took the survey
Checking for shobha mudanoor

shobha mudanoor did not take the survey
Checking for sanhita hazra

sanhita hazra took the survey
Checking for shantanu mitra

shantanu mitra took the survey
Checking for arpita ganesh

arpita ganesh did not take the survey
Checking for ashwathy jairaj

ashwathy jairaj took the survey
Checking for prajeet nair

prajeet nair did not take the survey
Checking for shipra mishra

shipra mishra did not take the survey
Checking for yuvaraj ha

yuvaraj ha did not take the survey
Checking for abhishek kumar

abhishek kumar took the survey
Checking for adarsh anand

adarsh anand took the survey
Checking for akshaykumar shetty

akshaykumar shetty took the survey
Checking for amit kumar

amit kumar did not take the survey
Checking for ankita singh

ankita singh took the survey
Checking for arun kaappil

arun kaappil did not take the survey
Checking for astha sinha

astha sinha took the survey
Checking for chava jaswanth mukhesh chand

chava jaswanth mukhesh chand took the survey
Checking for chethan yadav

chethan yadav took the survey
Checking for kanagaraj senthurpandi

kanagaraj senthurpandi took the survey
Checking for kirankumar kommalapudi

kirankumar kommalapudi took the survey
Checking for manisha gupta

manisha gupta did not take the survey
Checking for meghna sharma

meghna sharma took the survey
Checking for mupparapu hariprasad

mupparapu hariprasad did not take the survey
Checking for naveen chichili

naveen chichili took the survey
Checking for pavan manjunath

pavan manjunath did not take the survey
Checking for pradipta das

pradipta das did not take the survey
Checking for prakash jayaraman

prakash jayaraman took the survey
Checking for prakash manickam

prakash manickam took the survey
Checking for pranav jambulingam

pranav jambulingam did not take the survey
Checking for prathik murthy

prathik murthy took the survey
Checking for priyadharsini paneerselvam

priyadharsini paneerselvam took the survey
Checking for raghavendra suresh

raghavendra suresh took the survey
Checking for raghunath dayana

raghunath dayana did not take the survey
Checking for rajkishore rao

rajkishore rao did not take the survey
Checking for rakesh nagaraj

rakesh nagaraj took the survey
Checking for ranjith kumar

ranjith kumar did not take the survey
Checking for roopam roopam

roopam roopam did not take the survey
Checking for rupali chaturvedi

rupali chaturvedi did not take the survey
Checking for sachin raj

sachin raj took the survey
Checking for sangita baral

sangita baral did not take the survey
Checking for saravanakumar jayachandran

saravanakumar jayachandran took the survey
Checking for shishir nasalapure

shishir nasalapure took the survey
Checking for uriti kishore

uriti kishore did not take the survey
Checking for vijayeendra muddapur

vijayeendra muddapur did not take the survey
Checking for vishwanath salimath

vishwanath salimath took the survey
Checking for srinwanti sarkar

srinwanti sarkar did not take the survey
Checking for tina esther

tina esther did not take the survey
Checking for tushar kanti mandal

tushar kanti mandal took the survey
Checking for vinutha mayanna

vinutha mayanna did not take the survey
Checking for yogesh ks

yogesh ks did not take the survey
Checking for prashanth n venkatesan

prashanth n venkatesan did not take the survey
Checking for balasubramani shanmugavel

balasubramani shanmugavel did not take the survey
Checking for lolla dora babu

lolla dora babu took the survey
Checking for ananta malpani

ananta malpani did not take the survey
Checking for bincy suresh

bincy suresh took the survey
Checking for danvitha gowda

danvitha gowda took the survey
Checking for ishita shankar

ishita shankar took the survey
Checking for sonesh nema

sonesh nema took the survey
Checking for ramya dhanasekaran

ramya dhanasekaran did not take the survey
Checking for supriya shah

supriya shah took the survey
Checking for sukruth purushotham

sukruth purushotham took the survey
Total No who did not take the survey: 40

In [126]:
count = 0

for emp_name in full_emp_list['empnames']:
    found = False
    first_name = emp_name.split()[0]
    for sur_emp_name in survey_list['empnames']:
        if(sur_emp_name.find(first_name) >= 0):
            count += 1
            found = True
    if found == False:
        print(f"{emp_name} missed taking the survey!")
    
print(f"Total Missed: {full_emp_list['empnames'].count() - count}")

shirin wadi missed taking the survey!
bijay rana missed taking the survey!
santosh manjunatha missed taking the survey!
kali viswanath puvvada missed taking the survey!
rohit shet missed taking the survey!
monisha deranda seetharam missed taking the survey!
rangadurai dhakshinamoorthy missed taking the survey!
jagadeesh kumar koneti missed taking the survey!
shobha mudanoor missed taking the survey!
arpita ganesh missed taking the survey!
shipra mishra missed taking the survey!
arun kaappil missed taking the survey!
manisha gupta missed taking the survey!
mupparapu hariprasad missed taking the survey!
pradipta das missed taking the survey!
pranav jambulingam missed taking the survey!
raghunath dayana missed taking the survey!
rajkishore rao missed taking the survey!
ranjith kumar missed taking the survey!
sangita baral missed taking the survey!
vijayeendra muddapur missed taking the survey!
srinwanti sarkar missed taking the survey!
tina esther missed taking the survey!
vinutha mayanna missed taking the survey!
prashanth n venkatesan missed taking the survey!
ananta malpani missed taking the survey!
Total Missed: 19

In [129]:
survey_list

            empnames
0        nitesh kala
1      amith kashyap
2         sachin raj
3        rajat goyal
4       shreelakshmi
..               ...
77  nikita kakaraddi
78      dhiraj kumar
79   naveen chichili
80          rajesh s
81    danvitha gowda

[80 rows x 1 columns]